
#form {
    position: relative;
    z-index: 1;
}
.contacter{
    justify-content: flex-start;
}
.form::after {
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
    /* background-color: rgb(112, 18, 65); */
	opacity: .6;
	z-index: -1;
}
.infos{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    height: 60vh;
}
.infos h1{
    color: #fff;
    font-size: 6rem;
    margin-bottom: 2em;
}
.infos h2{
    color: #fff;
    font-size: 2.5rem;
}
.infos a{
    color: #fff;
    border-left: 1px solid #6000ff;
    margin-top: 1em;
    padding-left: 5px;
    font-size: 2.5rem;
    transition: all ease .3s;
}
.infos a:hover{
    color:#6000ff;
    border-left: 1px solid #fff;
}
.form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 30px;
    width: 400px;
    padding: 50px;
    background: rgba(0, 0, 0, .8);
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}
.form h2 {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
}
.form-item  {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    overflow: hidden;
    margin-top: 45px;
}
.area {
    height: 150px;
}
.form-item input {
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    outline: none;
    background: transparent;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}
.form-item textarea {
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 55px;
    outline: none;
    background: transparent;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    overflow: hidden;
    margin-bottom: 8px;
}
.btn {
margin-top: 25px;
padding: 10px 30px;
font-size: 1.4rem;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.2rem;
background: transparent;
color: white;
border: 1px solid white;
}
.form-item .label-name {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid white;
}
.form-item .label-area {
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid white;
}
.form-item label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    border-bottom: 3px solid #1752ba;
    transition: transform ease 0.3s;
}
.form-item span {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all ease 0.3s;
    font-weight: 500;
    font-size: 1.5rem;
}

.form-item input:focus + .label-name span,
.form-item input:valid + .label-name span{
transform: translateY(-150%);
color: lightgray;
}
.form-item input:focus + .label-name::after,
.form-item input:valid + .label-name::after {
    transform: translateX(0%);
}
.form-item textarea:focus + .label-area span,
.form-item textarea:valid + .label-area span{
transform: translateY(-550%);
color: lightgray;
}
.form-item textarea:focus + .label-area::after,
.form-item textarea:valid + .label-area::after {
    transform: translateX(0%);
}
@media (min-width: 320px) and (max-width: 480px) {
    .infos h1{
        display: none;
    }
    .contacter{
        flex-direction: column;
    }
    .infos{
        height: 20vh;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }
    .form{
        width: 315px;
    }
    .infos a,
    .infos h2{
        font-size: 1.8rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .infos h1{
        display: none;
    }
    .contacter{
        flex-direction: column;
    }
    .infos{
        height: 20vh;
        margin-top: 5vh;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .infos h1{
        display: none;
    }
    .contacter{
        flex-direction: column;
    }
    .infos{
        height: 20vh;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    .infos h1{
        display: none;
    }
    .contacter{
        flex-direction: column;
    }
    .infos{
        height: 20vh;
        justify-content: center;
        align-items: center;
    }
}