@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	background-color: #222139;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title {
	color: #fff;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background: linear-gradient(133deg, rgba(23,82,186,1) 7%, rgba(8,35,84,1) 100%);
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: all 1s ease;
	transition-property: background;
	overflow: hidden;
}
.cta:hover {
	background: linear-gradient(133deg, rgba(96,0,255,1) 7%, rgba(33,3,82,1) 100%);
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
	margin-right: 100px;
}
.brand h1 span {
	color: #1752ba;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}

#header .nav-list a:hover::before {
	width: 100%;
}

#header .nav-list li {
	position: relative;
}

#header .nav-list a:before {
	content: '';
	display: block;
	height: 5px;
	width: 0%;
	background-color: #1752ba;
	position: absolute;
	top: 0;
	transition: all ease-in-out 280ms;
}

#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	width: 100%;
	height: 30px;
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	display: block;
	margin-top: 11px;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #1752ba;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	position: relative;
	z-index: 1;
}
.background{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
	background-color: #222139;
}
.background img{
	animation: backscale 13s ease infinite alternate;
}
#hero .hero {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
#hero .hero-title{
	width: 40%;
	height: 20vh;
	margin-top: 30vh;
	margin-left: 15%;
}
#hero h1 {
	display: flex;
	font-size: 6em;
	position: relative;
	color: #fff;
}
#hero h2 {
	display: flex;
	font-size: 2.5em;
	position: relative;
	color: rgb(224, 224, 224);
}
#hero p{
	color: rgb(187, 187, 187);
	font-size: 2em;
}
#hero .link-item{
	margin-top: 42vh;
	margin-left: 5%;
	height: 20vh;
	width: 40%;
}
#hero .link-item ul{
	list-style: none;
}
#hero .link-item a{
	position: relative;
	color: #fff;
	font-size: 2.4em;	
}
#hero .link-item a:hover{
	color: #1752ba;
	transition: ease .5s;
}
#hero .link-item li{
	margin-bottom: 2em;
}

/* End Hero Section */
.projects{
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	background: linear-gradient(162deg, rgba(68,10,190,1) 0%, rgba(34,33,57,1) 36%);
}
.projectHeader{
	padding: 3em;
	margin: 10em 0 5em 0;
}
.projectList{
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}
.projectItem {
	border: 1px solid hsla(0, 0%, 42%, 0.308);
	margin: 2em 2em 4em 2em;
	width: 40%;
	display: flex;
	flex-direction: row;
	border-radius: 2em;
	position: relative;
	overflow: hidden;
	background:rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(40px);
}
@media (min-width: 70em) {
	.projectItem{
		width: 35%;
	}
}
@media (min-width: 50em) and (max-width: 69em){
	.projectItem{
		width: 60%;
	}
}
@media (min-width: 40.1em) and (max-width: 50em){
	.projectItem{
		width: 50%;
	}
}
@media(max-width: 40em) {
	.projectItem{
		width: 80%;
	}
}
.projectImg{
	width: 13em;
	overflow: hidden;
}
.projectImg a img{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.projectInfo{
	padding: .5em 1em .2em 1em;
}

.projectInfo h2{
	color: #ffffff;
	margin-bottom: 1.2rem;
	font-size: 4rem;
}
.projectInfo h3{
	color: #c9c9c9;
	font-size: 2rem;
}
.projectInfo p{
	color: #a5a5a5;
	font-size: 1.8rem;
	font-weight: 400;
}
@media(min-width: 60em) {
	.projectHover {
		display: none;
	}
}

@media(max-width: 60em) {
	.projectImg{
		width: 100%;
		height: 100%;
		position: relative;
		transition: .5s ease-in-out;
	}
	/* .projectImg:hover{
		transform: translateY(20px);
	}
	.projectImg:before{
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(0,0,0, .5), rgba(148, 25, 25, 0.5));
		transition: all .5s;
		z-index: 2;
		opacity: 0;
	}
	.projectImg:hover:before{
		opacity: 1;
	} */
	.projectInfo{
		display: none;
	}
}
/* Project section */ 



/* End Project section */ 

/* Skills section */

#skills .skills {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.skills-header {
	top: 0;
}
.skills-bloc {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 40px;
}
.skills-item {
	width: 400px;
	height: 500px;
	display: flex;
	align-items: center;
	flex-direction: column;
	background:rgba(255, 255, 255, 0.2);
	box-shadow: 0 15px 25px rgba(0,0,0,.1);
	border-top: solid 2px #f8f8f8;
	border-right: solid 2px #f8f8f8;
	border-radius: 20px;
	backdrop-filter: blur(40px);
	overflow: hidden;
}
.skills-item:not(:last-child) {
	margin-right: 50px;
}
.skill-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 28%;
	top: 0;
	left: 0;
}
.skill-info img {
	width: 60px;
	height: 60px;
}
.skill-info h2 {
	margin-top: 15px;
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	color: #fff;
}

.skill-list {
	width: 100%;
	height: 72%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.skill-list ul {
	list-style: none;
	font-size: 1.7rem;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #cfcfcf;
}
.skills .skill-list li {
	margin-bottom: 10px;
}
/* End Skills section */

/* About Section */
#about .about {
	position: relative;
	flex-direction: column-reverse;
	text-align: center;
	margin: 0 auto;
	padding: 100px 20px;
}

#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-top: 1em;
	margin-bottom: 2.5em;
	color: #fff;
}
#about .col-right p {
	margin-bottom: 20px;
	color: rgb(235, 235, 235);
}
#about .col-right .cta {
	color: #fff;
	margin-bottom: 50px;
	font-size: 2rem;
	border-radius: 20px;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid #1752ba;
	z-index: -1;
}
/* End About Section */

/* contact Section */
#contact .contact {
    flex-direction: column;
	width: 100%;
	margin: 0 auto;
	background:#f8f8f8;
	padding-top: 50px;
}
#contact .contact-title {
	margin-bottom: 30px;
}
#contact .contact-items {
    padding: 15px;
    width: 400px;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: .3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;	
	line-height: 2rem;
	font-weight: 500;
}
#contact .contact .form {
	margin-top: 20px;
}
#contact a{
    display: inline-block;
    background: #1752ba;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding: 16px 32px;
    margin-top: 5px;
    border-radius: 30px;
    border: 2px solid #1752ba;
    transition: all 0.3s ease;
}
#contact a:hover {
	color: #1752ba;
    background: none;
}
/*End contact Section */
/* Bandeau Section */
#bandeau .bandeau {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
}
.bandeau p {
	font-size: 1.9rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-align: center;
	color: #fff;
}
.bandeau span {
	color: #1752ba;
}
/* End Bandeau Section */

/* Footer */
#footer {
	background: rgba(34, 33, 57, .2);
}
#footer .footer {
	min-height: 200px;
	flex-direction: row;
	padding: 1em 0;
}
#footer .bandeau,
#footer .social-icon,
#footer .brand {
	width: 30%;
	height: 100%;
}
#footer .brand{
	display: flex;
	flex-direction: column;
}

#footer .brand h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .brand h1 {
	margin-right: 0;
	text-align: left;

}
#footer .social-icon {
    display: flex;
    margin-left: 25px;
	align-items: center;
	justify-content: center;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer .brand p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* mobile footer spacer */
.mobile-footer-spacer{
	position: relative;
	width: 100%;
	height: 11vh;
}
/* mobile footer spacer */

/* Mobile footer */
#mobile_footer .mobile_footer{
	width: 100%;
	min-height: 11vh;
	background-color: #222139;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	padding: 1em 0;
}
.mobile_footer a{
	width: 100%;
	height: 100%;
	cursor: pointer;
	padding-bottom: 5px;
}
.mobile-footer-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 25%;
	border-radius: 6px;
	margin-right: 5px;
	transition: .5s ease;
}
.mobile-footer-item:hover{
	border: 1px solid #1400ff;
}
.mobile-footer-item:last-child{
	margin-right: 0px;
}
.mobile-icon p{
	font-size: 25px;
	color: #fff;
	pointer-events: none;
	text-align: center;
}
.mobile-txt p{
	font-size: 15px;
	color: #afafaf;
	text-align: center;
	pointer-events: none;
}
/* End Mobile footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes backscale {
	0%{
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}
/* End Keyframes */

/* Media Query For Phone */
@media (min-width: 320px) and (max-width: 480px) {
	.skills .background{
		display: none;
	}
	.skills {
		background: linear-gradient(133deg, rgba(34,33,57,1) 7%, rgba(34,33,57,1) 76%, rgba(20,0,255,1) 100%);
	}
	#hero h1{
		font-size: 5em;
	}
	.mobile-txt p{
		font-size: 1.5em;
	}
	.footer{
		display: none;
	}
	#hero .hero-title{
		width: 90%;
		margin-left: 0;
		margin-top: 12vh;
	}
	#hero .link-item{
		width: 90%;
		margin-top: 5vh;
		margin-left: 0;
	}
	#hero .hero {
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
.bandeau p {
	font-size: 1.7rem;
	font-weight: 500;
	letter-spacing: .1rem;
	text-align: center;
}
.section-title{
	font-size: 3.7rem;
}
#header .nav-list ul li {
	margin-bottom: 20px;
}
#contact .contact-items {
	padding: 0;
	max-width: 320px;
}
.skills-header {
	margin-top: 5vh;
}
.skills-bloc {
	flex-direction: column;
}
.skills-item {
	max-height: 320px;
	margin-bottom: 30px;
	max-width: 300px;
}
.skills-item:not(:last-child) {
	margin-right: 0;
}
.skill-info img {
	margin-top: 10px;
	margin-bottom: 0;
}
.skill-info h2 {
	margin-top: 0;
}
.skill-list ul {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
}
.skill-list li{
	margin: 10px;
}
}

@media (min-width: 481px) and (max-width: 767px) {
	.skills .background{
		display: none;
	}
	.skills {
		background: linear-gradient(133deg, rgba(34,33,57,1) 7%, rgba(34,33,57,1) 76%, rgba(20,0,255,1) 100%);
	}
	.footer{
		display: none;
	}
	#hero .hero-title{
		width: 90%;
		margin-left: 0;
		margin-top: 12vh;
	}
	#hero .link-item{
		width: 90%;
		margin-top: 5vh;
		margin-left: 0;
	}
	#hero .hero {
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
#contact a{
	margin-left: 68px;
}
#contact .contact-items {
	padding: 0;
	max-width: 350px;
}
#contact .contact-item {
margin-left: 35px;
margin-top: 0;
}
#header .nav-list ul li {
	margin-bottom: 20px;
}
.skills-header {
	margin-top: 8vh;
}
.skills-bloc {
	flex-direction: column;
}
.skills-item {
	max-height: 350px;
	margin-bottom: 30px;
	width: 350px;
}
.skills-item:not(:last-child) {
	margin-right: 0;
}
.skill-info img {
	margin-top: 10px;
	margin-bottom: 0;
}
.skill-info h2 {
	margin-top: 0;
}
.skill-list ul {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
}
.skill-list li{
	margin: 10px;
}

}
/* Media Query For Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
	#mobile_footer{
		display: none;
	}
	.mobile-footer-spacer{
		display: none;
	}
	#hero .hero-title{
		width: 90%;
		margin-left: 0;
		margin-top: 12vh;
	}
	#hero .link-item{
		width: 90%;
		margin-top: 5vh;
		margin-left: 0;
	}
	#hero .hero {
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}
	#contact .contact-item {
		width: 400px;
	}
	#header .nav-list ul li {
		margin-bottom: 20px;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}


	/* End Services Section */

	/* Skills */
	.skills-header{
		margin-top: 85px;
	}
	.skills-bloc {
		flex-wrap: wrap;
	}
	.skills-item {
		max-width: 290px;
		max-height: 520px;
		margin-top: 20px;
		margin-bottom: 10px;
	}


	/* End Skills */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid #1752ba;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	#mobile-footer{
		display: none;
	}
	.mobile-footer-spacer{
		display: none;
	}
.skills-bloc {
	flex-wrap: wrap;
}
#contact .contact-item {
	width: 400px;
}
#header .nav-list ul li {
	margin-bottom: 20px;
}
}
/* End Media Query For Tablet */
@media (min-width: 1025px) and (max-width: 1280px) {
	#mobile_footer{
		display: none;
	}
	.mobile-footer-spacer{
		display: none;
	}
/* header */
#header .hamburger {
	display: none;
}
#header .nav-list ul {
	position: initial;
	display: block;
	height: auto;
	width: fit-content;
	background-color: transparent;
}
#header .nav-list ul li {
	display: inline-block;
	margin-left: 45px;
}
#header .nav-list ul li a {
	font-size: 1.8rem;
}
#header .nav-list ul a:after {
	display: none;
}
#skills .skills {
	padding: 100px;
}
.skills-item {
	margin-bottom: 40px;
}
/* End header */

#services .service-bottom .service-item {
	flex-basis: 22%;
	margin: 1.5%;
}

.skills-item {
	min-width: 300px;
	max-width: 325px;
	height: 450px;
}
}

/* Media Query For Desktop */
@media (min-width: 1281px) {
	#mobile_footer{
		display: none;
	}
	.mobile-footer-spacer{
		display: none;
	}
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
		margin-left: 45px;
	}

	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}

	.skills-item {
		min-width: 300px;
		max-width: 325px;
	}
	.about .col-right {
		max-width: 900px;
	}
}
/* End  Media Query For Desktop */